*.bak
*.pyc
*.log
.project
*.swp
*.xml
.pydevproject
media/*/*
*.DS_Store
.idea
.idea/*
*wp*
*.mp4
media/*
nodejs/node_modules/*/*
nodejs2/node_modules/*/*
nodejsAndroid/node_modules/*/*
nodejs/config/local.json
nodejs2/config/local.json
nodejsAndroid/config/local.json
.vscode
dump.rdb
